@import "global";

.hea {
  width: 100%;
  height: auto;
  background: #443297;
  display: grid;
  justify-content: center;


  &_header {
    width: 100%;
    height: auto;
    background: $header_color;
    display: flex;
    justify-content: center;

    &_head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_logo {
        width: 12%;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        //margin-top: 8px;
        span {
          color: $button_color;
        }
      }

      &_search {
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 15px;
        //padding: 0 15px  0 0;
        gap: 15px;
        background-color: #fff;
        border-radius: 6px;

        &_down {
          font-size: 15px;
        }

        &_inputs {
          width: 60%;
          outline: none;
          border: none;
        }

        &_iconSearch {
          width: 8%;
          cursor: pointer;
          border-bottom-right-radius: 6px;
          border-top-right-radius: 6px;
          background: $button_color;
          padding: 13px;

          img {
            width: 12px;
            height: 12px;
          }
        }
      }

      &_infos {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_heart {
          display: flex;
          cursor: pointer;

          &_iconsBox {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            height: 50px;
            margin-right: 15px;
            position: relative;
            text-align: center;
            width: 50px;

            &:hover {
              background: #745edb;
            }

            &_showNumber {
              border-radius: 50%;
              background: $button_color;
              position: absolute;
              top: 0;
              right: 0;
            }
          }


        }

        &_heart {
          &_title {
            font-size: 15px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            color: white;
          }

          &_littleTitle {
            color: white;
            font-size: 13px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
          }
        }
      }
    }
  }


}


