.help {
  width: 100%;
  height: auto;
  //background: #443297;
  display: grid;
  justify-content: center;
  &_lines1 {
    display: inline-flex;
    gap: 10px;

    &_lines {
      &::before {
        float: left;
        padding-right: 0.5rem;
        color: #6c757d;
        content: var(--bs-breadcrumb-divider, "/");
      }
    }
  }
  &_customerHelp {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    color: #041e42;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    margin-bottom: 25px;
  }
  &_footerInput {
    width: 50vw;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;

    &_Ints {
      width: 100%;
      background-color: #fff;
      border: 1px solid #eaeaea;
      border-radius: 6px;
      color: #041e42;
      height: 60px;
      outline: none;
      margin-top: 20px;
      padding-left: 20px;
    }
  }
  &_textBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &_cardT{
      width: 32%;
      height: auto;
      padding: 75px 50px 50px;
      border-radius: 6px;
      background: #F3F5F6;
      &_helpTitle{
        font-size: 20px;
        font-weight: 500;
        line-height: 29px;
        letter-spacing: 0em;
        margin-bottom: 15px;
    
      }
      &_helptext{
        color: #041E42;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0em;
        cursor: pointer;
      }
    }
  }
}
