.faq {
  width: 100%;
  height: auto;
  //background: #443297;
  display: grid;
  justify-content: center;
  &_FT {
    font-size: 30px;
    color: #041e42;
    font-weight: 500;
    line-height: 1.4;
  }
  &_lines1 {
    display: inline-flex;
    gap: 10px;

    &_lines {
      &::before {
        float: left;
        padding-right: 0.5rem;
        color: #6c757d;
        content: var(--bs-breadcrumb-divider, "/");
      }
    }
  }
  &_Payment {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
  }
  &_questionCard {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    &_Qbox {
      width: 55%;
      &_dropdown {
        &_toggle {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 10px;
          border: none;
          cursor: pointer;
          background: transparent;
          color: #041e42;
          // display: flex;
          font-size: 20px;
          font-weight: 500;
          line-height: 40px;
          letter-spacing: 0em;
        }
        &_content{
            color: #041E42;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0em;
            padding: 0 0 10px;
            padding: 10px;
        }
      }
    }
  }
  .hrLines{
    width: 55%;
    margin-top: 50px!important;
    margin: 0 auto;
  }
}
